.row {
  border-color: white;
  border-width: 10px;
  margin: 1px;
}

#container {
  display: flex;
  height: 75vh;
  padding: 0px 40px 20px;
}

.top {
  padding: 20px 40px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html {
  background-color: #708090;
}
